In [123]:
import requests
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
from bs4 import BeautifulSoup

import numpy as np
import pandas as pd
import csv
import time
import json
from pandas import json_normalize

In [124]:
'''
1. LH 단지정보
지역본부명, 세대수  -> '대구경북지역본부' 지역 쪼개기
지역본부명-> 지역으로 통일
공급유형 -> '국민임대', '공공임대(50년)', '영구임대', '임대상가', '공공임대(10년)', '공공임대(분납)',
       '장기전세', '공공분양', '행복주택', '공공임대(5년)'으로 분류

-새로운 데이터셋1 -
컬럼 
지역, 공급유형, 총세대수, 단지명, 주소 
# 인천이 어디에 속하는지 알 필요가 있음


2. train 
새로운 데이터셋1과 지역, 총세대수, 공급유형  공통값을 필터링

-새로운 데이터셋2 -
컬럼
단지코드, 지역, 공급유형, 총세대수, 단지명, 주소


3. 단지별 연령대별 성별정보
주택유형 필터['아파트']-> 데이터프레임1 생성
데이터프레임1에 도로명주소 str 필터 -> 지역 컬럼구분
지역, 세대수를 공통필터 -> 세대수구성 정보 획득


-새로운 데이터셋3 -
컬럼
단지코드, 지역, 공급유형, 총세대수, 단지명, 주소, 세대수구성원


4. 다시 트레인에 병합
단지코드를 기준으로 세대수구성원 병합
'''

"\n1. LH 단지정보\n지역본부명, 세대수  -> '대구경북지역본부' 지역 쪼개기\n지역본부명-> 지역으로 통일\n공급유형 -> '국민임대', '공공임대(50년)', '영구임대', '임대상가', '공공임대(10년)', '공공임대(분납)',\n       '장기전세', '공공분양', '행복주택', '공공임대(5년)'으로 분류\n\n-새로운 데이터셋1 -\n컬럼 \n지역, 공급유형, 총세대수, 단지명, 주소 \n# 인천이 어디에 속하는지 알 필요가 있음\n\n\n2. train \n새로운 데이터셋1과 지역, 총세대수, 공급유형  공통값을 필터링\n\n-새로운 데이터셋2 -\n컬럼\n단지코드, 지역, 공급유형, 총세대수, 단지명, 주소\n\n\n3. 단지별 연령대별 성별정보\n주택유형 필터['아파트']-> 데이터프레임1 생성\n데이터프레임1에 도로명주소 str 필터 -> 지역 컬럼구분\n지역, 세대수를 공통필터 -> 세대수구성 정보 획득\n\n\n-새로운 데이터셋3 -\n컬럼\n단지코드, 지역, 공급유형, 총세대수, 단지명, 주소, 세대수구성원\n\n\n4. 다시 트레인에 병합\n단지코드를 기준으로 세대수구성원 병합\n"

In [125]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
danji = pd.read_csv('공공데이터/한국토지주택공사_전국 LH아파트 단지정보_20210430.csv', encoding='cp949')
gender = pd.read_csv('공공데이터/한국토지주택공사_임대주택 단지별 연령대별 성별정보_20210511.csv', encoding='cp949')
given_gender = pd.read_csv('data/age_gender_info.csv')
display(train)
display(test)
display(danji)
display(gender)

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2947,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2948,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2949,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2950,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2951,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,C1267,675,아파트,경상남도,행복주택,36.77,126,38.0,L,-,-,0.0,1.0,467.0
1018,C2189,382,아파트,전라북도,국민임대,29.19,96,45.0,H,6872000,106400,0.0,2.0,300.0
1019,C2189,382,아파트,전라북도,국민임대,29.19,20,45.0,H,6872000,106400,0.0,2.0,300.0
1020,C2189,382,아파트,전라북도,국민임대,39.45,202,45.0,H,13410000,144600,0.0,2.0,300.0
1021,C2189,382,아파트,전라북도,국민임대,46.23,60,45.0,H,18689000,166500,0.0,2.0,300.0

,지역본부명,단지코드,단지명,공급유형,주소,세대수,동수
0,서울지역본부,C02012,(NHF제4호)하남미사A4,공공임대(10년),"경기도 하남시 미사강변북로 25(선동) 경기 하남시 망월동, 풍산동, 선동, 덕풍동...",996,10
1,서울지역본부,C00458,가평읍내,공공임대(5년),NaN,355,5
2,서울지역본부,C00037,가평읍내,공공임대(50년),경기도 가평군 가평읍 가화로 142-26(가평읍내주공아파트),355,5
3,서울지역본부,C01592,가평읍내2단지,국민임대,경기도 가평군 가평읍 가화로 164 (휴먼시아아파트),335,6
4,서울지역본부,889,강남4BL,공공분양+토지임대부분양,서울특별시 강남구 자곡로3길 45(자곡동618),402,0
...,...,...,...,...,...,...,...
3658,세종특별본부,C02151,행정중심복합도시 3-1생활권 M5블록,공공임대(10년),세종특별자치시 대평로 56(대평동),1438,18
3659,세종특별본부,C02218,행정중심복합도시 3-2생활권 M2블록,국민임대,"세종특별자치시 보람1길 12(보람동,호려울마을2단지)",674,5
3660,세종특별본부,C02217,행정중심복합도시 3-3(M6)BL,공공분양,"세종특별자치시 남세종로 302(소담동,새샘마을6단지)",0,19
3661,세종특별본부,C02550,행정중심복합도시 3-3생활권 M2블록,국민임대,NaN,1100,4
3662,세종특별본부,C02516,행정중심복합도시 4-2생활권 M2블록,행복주택,세종특별자치시 집현북로 52(집현동),1500,7

,단지_일련번호,임대주택유형,공급기관명,주택명,주택유형,도로명주소,총세대수,10대미만(여자),10대미만(남자),10대(여자),...,60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자)
0,30485277,매입임대,성남시,매입임대주택,다세대주택,경기도 성남시 수정구 남문로102번길 19,9.0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
1,30485278,매입임대,성남시,매입임대주택,다세대주택,경기도 성남시 수정구 남문로102번길 7-2,8.0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,30485279,매입임대,성남시,매입임대주택,다세대주택,경기도 성남시 수정구 남문로102번길 7-4,7.0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,30485280,매입임대,성남시,매입임대주택,다세대주택,경기도 성남시 수정구 남문로52번길 9-11,10.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,30485281,매입임대,성남시,매입임대주택,다세대주택,경기도 성남시 수정구 남문로74번길 19,8.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19450,30855821,매입임대,NaN,매입다가구(전북김제시),다가구주택,NaN,0.0,1,4,2,...,0,0,1,0,0,0,0,0,0,0
19451,30855838,매입임대,NaN,매입다가구(전북남원시),다가구주택,NaN,0.0,0,1,2,...,0,0,0,1,0,1,1,0,0,0
19452,30855839,매입임대,NaN,매입다가구(전북남원시),다가구주택,NaN,0.0,1,3,2,...,2,2,0,0,1,1,0,0,0,0
19453,31284963,건설임대,NaN,양주옥정 A-20(2)(공임리츠),아파트,NaN,619.0,99,114,134,...,30,36,9,9,12,0,0,0,0,0
19454,31284964,건설임대,NaN,양주옥정 A-20(3)(공임리츠),아파트,NaN,901.0,44,52,74,...,78,84,31,29,11,10,1,1,0,0

In [126]:
train['단지코드'].describe() # 423개 코드

count      2952
unique      423
top       C1439
freq         48
Name: 단지코드, dtype: object

In [127]:
test['단지코드'].describe() # 150개 코드

count      1022
unique      150
top       C2676
freq         46
Name: 단지코드, dtype: object

In [128]:
danji['지역본부명'].unique()

array(['서울지역본부', '강원지역본부', '경기지역본부', '인천지역본부', '충북지역본부', '대전충남지역본부',
       '전북지역본부', '광주전남지역본부', '대구경북지역본부', '경남지역본부', '부산울산지역본부', '제주지역본부',
       '세종특별본부'], dtype=object)

In [129]:
train['지역'].unique()

array(['경상북도', '경상남도', '대전광역시', '경기도', '전라북도', '강원도', '광주광역시', '충청남도',
       '부산광역시', '제주특별자치도', '울산광역시', '충청북도', '전라남도', '대구광역시', '서울특별시',
       '세종특별자치시'], dtype=object)

In [130]:
a = test['지역'].unique()
display(a)

array(['경기도', '부산광역시', '전라북도', '경상남도', '충청남도', '대전광역시', '제주특별자치도', '강원도',
       '울산광역시', '경상북도', '충청북도', '광주광역시', '전라남도', '대구광역시', '세종특별자치시'],
      dtype=object)

In [131]:
train['공급유형'].unique()

array(['국민임대', '공공임대(50년)', '영구임대', '임대상가', '공공임대(10년)', '공공임대(분납)',
       '장기전세', '공공분양', '행복주택', '공공임대(5년)'], dtype=object)

In [132]:
test['공급유형'].unique()

array(['국민임대', '영구임대', '임대상가', '공공임대(50년)', '공공임대(10년)', '공공임대(분납)',
       '행복주택'], dtype=object)

In [133]:
danji['공급유형'].unique()

array(['공공임대(10년)', '공공임대(5년)', '공공임대(50년)', '국민임대', '공공분양+토지임대부분양',
       '공공분양', '분양주택', '국민임대+영구임대', '행복주택', '공공분양+공공임대(5년)', '행복주택+임대상가',
       nan, '공공임대(분납)', '영구임대+임대상가', '공공임대(10년)+공공임대(분납)',
       '장기전세+국민임대+영구임대', '공공분양+공공임대(50년)', '영구임대', '외인임대',
       '공공분양+공공임대(10년)', '후분양', '토지임대부분양', '임대상가', '공공임대(10년)+임대상가',
       '공공임대(50년)+영구임대', '국민임대+행복주택'], dtype=object)

In [134]:
# 트레인과 테스트에 공급유형 결측이 없으므로, 결측이있는 단지데이터는 쓰지 않았다고 가정한다.
danji.isna().sum()

지역본부명      0
단지코드       0
단지명        1
공급유형     142
주소       773
세대수        0
동수         0
dtype: int64

In [135]:
# 결측치 대부분 입주자 모집중인 아파트
danji.isna().sum()
danji1 = danji.dropna(subset=['주소'])

In [136]:
경기 = danji1[danji1['주소'].str.contains('경기')]
경기['지역본부명'] = '경기도'

서울 = danji1[danji1['주소'].str.contains('서울')]
서울['지역본부명'] = '서울특별시'

충남 = danji1[danji1['주소'].str.contains('충청남도|충남')]
충남['지역본부명'] = '충청남도'

충북 = danji1[danji1['주소'].str.contains('충청북도|충북')]
충북['지역본부명'] = '충청북도'

대전 = danji1[danji1['주소'].str.contains('대전')]
대전['지역본부명'] = '대전광역시'

광주 = danji1[danji1['주소'].str.contains('광주')]
광주['지역본부명'] = '광주광역시'

전남 = danji1[danji1['주소'].str.contains('전라남도|전남')]
전남['지역본부명'] = '전라남도'

전북 = danji1[danji1['주소'].str.contains('전라북도|전북')]
전북['지역본부명'] = '전라북도'

부산 = danji1[danji1['주소'].str.contains('부산')]
부산['지역본부명'] = '부산광역시'

울산 = danji1[danji1['주소'].str.contains('울산')]
울산['지역본부명'] = '울산광역시'

대구 = danji1[danji1['주소'].str.contains('대구')]
대구['지역본부명'] = '대구광역시'

경북 = danji1[danji1['주소'].str.contains('경상북도|경북')]
경북['지역본부명'] = '경상북도'

경남 = danji1[danji1['주소'].str.contains('경상남도|경남')]
경남['지역본부명'] = '경상남도'

강원 = danji1[danji1['주소'].str.contains('강원도|강원')]
강원['지역본부명'] = '강원도'


제주 = danji1[danji1['주소'].str.contains('제주')]
제주['지역본부명'] = '제주특별자치도'

세종 = danji1[danji1['주소'].str.contains('세종')]
세종['지역본부명'] = '세종특별자치시'

temp1 = pd.concat([경기, 서울, 충남, 충북, 대전, 광주, 전남, 전북, 부산, 울산, 대구, 경북, 경남, 강원, 대구, 제주, 세종])
temp1.drop(['단지코드'], axis=1, inplace=True)
temp1.rename(columns={'지역본부명':'지역', '세대수':'총세대수'}, inplace=True)
temp1.reset_index(drop = True, inplace=True)
temp1

<ipython-input-136-2d43c2d35377>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  경기['지역본부명'] = '경기도'
<ipython-input-136-2d43c2d35377>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  서울['지역본부명'] = '서울특별시'
<ipython-input-136-2d43c2d35377>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  충남['지역본부명'] = '충청남도'
<ipython-input-136-2d43c2d35377>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  충북['지역본부명'] = '충청북도'
<ipython-input-136-2d43c2d35377>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  대전['지역본부명'] = '대전광역시'
<ipython-input-136-2d43c2d35377>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  광주['지역본부명'] = '광주광역시'
<ipython-input-136-2d43c2d35377>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  전남['지역본부명'] = '전라남도'
<ipython-input-136-2d43c2d35377>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  전북['지역본부명'] = '전라북도'
<ipython-input-136-2d43c2d35377>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  부산['지역본부명'] = '부산광역시'
<ipython-input-136-2d43c2d35377>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  울산['지역본부명'] = '울산광역시'
<ipython-input-136-2d43c2d35377>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  대구['지역본부명'] = '대구광역시'
<ipython-input-136-2d43c2d35377>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  경북['지역본부명'] = '경상북도'
<ipython-input-136-2d43c2d35377>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  경남['지역본부명'] = '경상남도'
<ipython-input-136-2d43c2d35377>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  강원['지역본부명'] = '강원도'
<ipython-input-136-2d43c2d35377>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  제주['지역본부명'] = '제주특별자치도'
<ipython-input-136-2d43c2d35377>:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  세종['지역본부명'] = '세종특별자치시'

,지역,단지명,공급유형,주소,총세대수,동수
0,경기도,(NHF제4호)하남미사A4,공공임대(10년),"경기도 하남시 미사강변북로 25(선동) 경기 하남시 망월동, 풍산동, 선동, 덕풍동...",996,10
1,경기도,가평읍내,공공임대(50년),경기도 가평군 가평읍 가화로 142-26(가평읍내주공아파트),355,5
2,경기도,가평읍내2단지,국민임대,경기도 가평군 가평읍 가화로 164 (휴먼시아아파트),335,6
3,경기도,고양 햇빛마을(중형임대),공공임대(5년),경기 고양시 덕양구 행신동 958(21/12) 햇빛마을,1,1
4,경기도,고양관산1,공공분양,경기 고양시 덕양구 관산동 996번지 주공그린빌,0,16
...,...,...,...,...,...,...
2843,세종특별자치시,행정중심복합도시 2-2(M8)BL,국민임대,"세종특별자치시 새롬중앙로 20(새롬동,새뜸마을8단지)",906,5
2844,세종특별자치시,행정중심복합도시 3-1생활권 M5블록,공공임대(10년),세종특별자치시 대평로 56(대평동),1438,18
2845,세종특별자치시,행정중심복합도시 3-2생활권 M2블록,국민임대,"세종특별자치시 보람1길 12(보람동,호려울마을2단지)",674,5
2846,세종특별자치시,행정중심복합도시 3-3(M6)BL,공공분양,"세종특별자치시 남세종로 302(소담동,새샘마을6단지)",0,19
2847,세종특별자치시,행정중심복합도시 4-2생활권 M2블록,행복주택,세종특별자치시 집현북로 52(집현동),1500,7

In [137]:
국민 = temp1[temp1['공급유형'] == '국민임대']
국민['공급유형'] = '국민임대'

상가 = temp1[temp1['공급유형'] == '임대상가']
상가['공급유형'] = '임대상가'

영구 = temp1[temp1['공급유형'] == '영구임대']
영구['공급유형'] = '영구임대'

분납 = temp1[temp1['공급유형'] == '공공임대(분납)']
분납['공급유형'] = '공공임대(분납)'

오 = temp1[temp1['공급유형'] == '공공임대(5년)']
오['공급유형'] = '공공임대(5년)'

십 = temp1[temp1['공급유형'] == '공공임대(10년)']
십['공급유형'] = '공공임대(10년)'

오십 = temp1[temp1['공급유형'] == '공공임대(50년)']
오십['공급유형'] = '공공임대(50년)'

분양 = temp1[temp1['공급유형'] == '공공분양']
분양['공급유형'] = '공공분양'

전세 = temp1[temp1['공급유형'].str.contains('장기전세', na=False)]
전세['공급유형'] = '장기전세'

행복 = temp1[temp1['공급유형'] == '행복주택']
행복['공급유형'] = '행복주택'


temp2 = pd.concat([국민, 상가, 영구, 분납, 오, 십, 오십, 분양, 전세, 행복])
temp2.reset_index(drop = True, inplace=True)
temp2

<ipython-input-137-5b8085a22e87>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  국민['공급유형'] = '국민임대'
<ipython-input-137-5b8085a22e87>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  상가['공급유형'] = '임대상가'
<ipython-input-137-5b8085a22e87>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  영구['공급유형'] = '영구임대'
<ipython-input-137-5b8085a22e87>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  분납['공급유형'] = '공공임대(분납)'
<ipython-input-137-5b8085a22e87>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  오['공급유형'] = '공공임대(5년)'
<ipython-input-137-5b8085a22e87>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  십['공급유형'] = '공공임대(10년)'
<ipython-input-137-5b8085a22e87>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  오십['공급유형'] = '공공임대(50년)'
<ipython-input-137-5b8085a22e87>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  분양['공급유형'] = '공공분양'
<ipython-input-137-5b8085a22e87>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  전세['공급유형'] = '장기전세'
<ipython-input-137-5b8085a22e87>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  행복['공급유형'] = '행복주택'

,지역,단지명,공급유형,주소,총세대수,동수
0,경기도,가평읍내2단지,국민임대,경기도 가평군 가평읍 가화로 164 (휴먼시아아파트),335,6
1,경기도,남양주가운1,국민임대,"경기도 남양주시 가운로2길 28(다산동,남양주가운마을휴먼시아1단지)",1417,16
2,경기도,남양주가운2,국민임대,"경기도 남양주시 가운로2길 8(다산동,남양주가운마을휴먼시아2단지)",388,4
3,경기도,남양주마석,국민임대,경기도 남양주시 화도읍 맷돌로91번길 7,488,5
4,경기도,남양주미리내마을4-2단지,국민임대,"경기도 남양주시 별내4로 25(별내동,미리내마을 4-2단지)",1058,7
...,...,...,...,...,...,...
2178,강원도,춘천거두2 행복주택,행복주택,강원도 춘천시 동내면 거두택지길 70(춘천거두2지구행복주택) 춘천거두2 행복주택,480,3
2179,대구광역시,대구테크노폴리스 LH천년나무3단지,행복주택,대구광역시 달성군 현풍면 테크노북로4길 27(대구테크노폴리스엘에이치천년나무3단지),1020,4
2180,대구광역시,대구혁신 10단지(행복),행복주택,대구광역시 동구 메디밸리로 18(사복동) 대구신서혁신 LH천년나무10단지,1088,6
2181,제주특별자치도,서귀포서홍,행복주택,제주특별자치도 서귀포시 장수로 115(서홍동) 서귀포서홍행복주택,90,1
2182,세종특별자치시,행정중심복합도시 4-2생활권 M2블록,행복주택,세종특별자치시 집현북로 52(집현동),1500,7

In [138]:
merge_df1 = pd.merge(train, temp2, on=['지역', '공급유형', '총세대수'], how='left')
merge_df1 = merge_df1[['단지코드', '지역', '공급유형', '단지명', '총세대수', '주소']]
display(merge_df1)

merge_df2 = pd.merge(test, temp2, on=['지역', '공급유형', '총세대수'], how='left')
merge_df2 = merge_df2[['단지코드', '지역', '공급유형', '단지명', '총세대수', '주소']]
display(merge_df2)
# merge_df1.to_csv('merge체크/LH 단지정보+트레인_merge체크_left.csv', encoding='cp949')
# merge_df2.to_csv('merge체크/LH 단지정보+테스트_merge체크_left.csv', encoding='cp949')

,단지코드,지역,공급유형,단지명,총세대수,주소
0,C2483,경상북도,국민임대,포항장량 1단지,900,"경상북도 포항시 북구 장량중앙로 17(양덕동,장량 휴먼시아아파트)"
1,C2483,경상북도,국민임대,포항장량 1단지,900,"경상북도 포항시 북구 장량중앙로 17(양덕동,장량 휴먼시아아파트)"
2,C2483,경상북도,국민임대,포항장량 1단지,900,"경상북도 포항시 북구 장량중앙로 17(양덕동,장량 휴먼시아아파트)"
3,C2483,경상북도,국민임대,포항장량 1단지,900,"경상북도 포항시 북구 장량중앙로 17(양덕동,장량 휴먼시아아파트)"
4,C2483,경상북도,국민임대,포항장량 1단지,900,"경상북도 포항시 북구 장량중앙로 17(양덕동,장량 휴먼시아아파트)"
...,...,...,...,...,...,...
3202,C2532,강원도,국민임대,"평창하진부(07,매입) 1단지",239,강원도 평창군 진부면 경강로 3587(평창하진부주공아파트)
3203,C2532,강원도,국민임대,평창하진부,239,강원도 평창군 진부면 경강로 3587 (평창하진부주공아파트)
3204,C2532,강원도,국민임대,"평창하진부(07,매입) 1단지",239,강원도 평창군 진부면 경강로 3587(평창하진부주공아파트)
3205,C2532,강원도,국민임대,평창하진부,239,강원도 평창군 진부면 경강로 3587 (평창하진부주공아파트)
3206,C2532,강원도,국민임대,"평창하진부(07,매입) 1단지",239,강원도 평창군 진부면 경강로 3587(평창하진부주공아파트)

       단지코드    지역  공급유형              단지명  총세대수                             주소
0     C1072   경기도  국민임대  광명역세권(03,택) 2단지   754  경기도 광명시 서원로 25(소하동,광명역세권휴먼시아)
1     C1072   경기도  국민임대  광명역세권(03,택) 2단지   754  경기도 광명시 서원로 25(소하동,광명역세권휴먼시아)
2     C1072   경기도  국민임대  광명역세권(03,택) 2단지   754  경기도 광명시 서원로 25(소하동,광명역세권휴먼시아)
3     C1072   경기도  국민임대  광명역세권(03,택) 2단지   754  경기도 광명시 서원로 25(소하동,광명역세권휴먼시아)
4     C1072   경기도  국민임대  광명역세권(03,택) 2단지   754  경기도 광명시 서원로 25(소하동,광명역세권휴먼시아)
...     ...   ...   ...              ...   ...                            ...
1108  C1267  경상남도  행복주택              NaN   675                            NaN
1109  C2189  전라북도  국민임대              NaN   382                            NaN
1110  C2189  전라북도  국민임대              NaN   382                            NaN
1111  C2189  전라북도  국민임대              NaN   382                            NaN
1112  C2189  전라북도  국민임대              NaN   382                            NaN

[1113 rows x 6 columns]

In [139]:
merge_df1['단지코드'].describe() # train 423개 코드

count      3207
unique      423
top       C1439
freq         48
Name: 단지코드, dtype: object

In [140]:
merge_df2['단지코드'].describe() #test 150개 코드

count      1113
unique      150
top       C2676
freq         46
Name: 단지코드, dtype: object

In [141]:
# merge_df1.to_csv('LH 단지정보+트레인.csv', encoding='cp949')
# merge_df2.to_csv('LH 단지정보+테스트.csv', encoding='cp949')

In [142]:
gender_apt = gender[gender['주택유형']=='아파트']
gender_apt.insert(2, '지역', '-1')

경기 = gender_apt[gender_apt['도로명주소'].str.contains('경기', na=False)]
경기['지역'] = '경기도'

서울 = gender_apt[gender_apt['도로명주소'].str.contains('서울', na=False)]
서울['지역'] = '서울특별시'

충남 = gender_apt[gender_apt['도로명주소'].str.contains('충청남도|충남', na=False)]
충남['지역'] = '충청남도'

충북 = gender_apt[gender_apt['도로명주소'].str.contains('충청북도|충북', na=False)]
충북['지역'] = '충청북도'

대전 = gender_apt[gender_apt['도로명주소'].str.contains('대전', na=False)]
대전['지역'] = '대전광역시'

광주 = gender_apt[gender_apt['도로명주소'].str.contains('광주', na=False)]
광주['지역'] = '광주광역시'

전남 = gender_apt[gender_apt['도로명주소'].str.contains('전라남도|전남', na=False)]
전남['지역'] = '전라남도'

전북 = gender_apt[gender_apt['도로명주소'].str.contains('전라북도|전북', na=False)]
전북['지역'] = '전라북도'

부산 = gender_apt[gender_apt['도로명주소'].str.contains('부산', na=False)]
부산['지역'] = '부산광역시'

울산 = gender_apt[gender_apt['도로명주소'].str.contains('울산', na=False)]
울산['지역'] = '울산광역시'

대구 = gender_apt[gender_apt['도로명주소'].str.contains('대구', na=False)]
대구['지역'] = '대구광역시'

경북 = gender_apt[gender_apt['도로명주소'].str.contains('경상북도|경북', na=False)]
경북['지역'] = '경상북도'

경남 = gender_apt[gender_apt['도로명주소'].str.contains('경상남도|경남', na=False)]
경남['지역'] = '경상남도'

강원 = gender_apt[gender_apt['도로명주소'].str.contains('강원도|강원', na=False)]
강원['지역'] = '강원도'

대구 = gender_apt[gender_apt['도로명주소'].str.contains('대구', na=False)]
대구['지역'] = '대구광역시'

제주 = gender_apt[gender_apt['도로명주소'].str.contains('제주', na=False)]
제주['지역'] = '제주특별자치도'

세종 = gender_apt[gender_apt['도로명주소'].str.contains('세종', na=False)]
세종['지역'] = '세종특별자치시'

temp3 = pd.concat([경기, 서울, 충남, 충북, 대전, 광주, 전남, 전북, 부산, 울산, 대구, 경북, 경남, 강원, 대구, 제주, 세종])
temp3

<ipython-input-142-93b65d611efc>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  경기['지역'] = '경기도'
<ipython-input-142-93b65d611efc>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  서울['지역'] = '서울특별시'
<ipython-input-142-93b65d611efc>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  충남['지역'] = '충청남도'
<ipython-input-142-93b65d611efc>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  충북['지역'] = '충청북도'
<ipython-input-142-93b65d611efc>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  대전['지역'] = '대전광역시'
<ipython-input-142-93b65d611efc>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  광주['지역'] = '광주광역시'
<ipython-input-142-93b65d611efc>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  전남['지역'] = '전라남도'
<ipython-input-142-93b65d611efc>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  전북['지역'] = '전라북도'
<ipython-input-142-93b65d611efc>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  부산['지역'] = '부산광역시'
<ipython-input-142-93b65d611efc>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  울산['지역'] = '울산광역시'
<ipython-input-142-93b65d611efc>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  대구['지역'] = '대구광역시'
<ipython-input-142-93b65d611efc>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  경북['지역'] = '경상북도'
<ipython-input-142-93b65d611efc>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  경남['지역'] = '경상남도'
<ipython-input-142-93b65d611efc>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  강원['지역'] = '강원도'
<ipython-input-142-93b65d611efc>:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  대구['지역'] = '대구광역시'
<ipython-input-142-93b65d611efc>:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  제주['지역'] = '제주특별자치도'
<ipython-input-142-93b65d611efc>:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  세종['지역'] = '세종특별자치시'

,단지_일련번호,임대주택유형,지역,공급기관명,주택명,주택유형,도로명주소,총세대수,10대미만(여자),10대미만(남자),...,60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자)
21,4181,건설임대,경기도,성남시,선경단대영구임대아파트,아파트,경기도 성남시 수정구 산성대로383번길 28,60.0,0,0,...,17,8,6,5,4,6,3,0,0,0
188,30582333,건설임대,경기도,SH공사,수락리버시티1단지,아파트,경기도 의정부시 누원로 51,680.0,21,11,...,109,90,65,46,19,15,14,5,0,0
189,30582334,건설임대,경기도,SH공사,수락리버시티2단지,아파트,경기도 의정부시 누원로 52,473.0,13,9,...,27,36,16,15,12,5,7,2,1,1
2795,88058,매입임대,경기도,경기도시공사,NaN,아파트,경기도 광명시 목감로 58,112.0,9,10,...,21,10,2,7,3,0,1,0,0,0
2800,30819467,건설임대,경기도,경기도시공사,호수마을자연앤이편한세상,아파트,경기도 김포시 김포한강4로420번길 164,559.0,53,60,...,65,54,29,27,8,4,4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19351,30701530,매입임대(단지유형),세종특별자치시,LH세종,세종영조정보마을,아파트,세종특별자치시 장군면 대학길 118,5.0,0,0,...,0,0,0,0,0,0,0,0,0,0
19352,30706817,매입임대(단지유형),세종특별자치시,LH세종,조치원 신동아파밀리에 3차아파트,아파트,세종특별자치시 조치원읍 도장말길 30,37.0,0,2,...,1,1,1,0,0,0,0,0,0,0
19353,30706818,매입임대(단지유형),세종특별자치시,LH세종,조치원 신동아파밀리에 3차아파트,아파트,세종특별자치시 조치원읍 도장말길 30,37.0,2,0,...,2,4,1,0,0,0,0,0,0,0
19354,30706820,매입임대(단지유형),세종특별자치시,LH세종,조치원 신동아파밀리에 3차아파트,아파트,세종특별자치시 조치원읍 도장말길 30,37.0,0,0,...,0,0,0,0,0,0,0,0,0,0
19355,31223873,건설임대,세종특별자치시,LH세종,세종서창 행복주택,아파트,세종특별자치시 조치원읍 조치원중고길 7,450.0,4,8,...,15,16,21,18,13,4,0,0,0,0

In [143]:
temp3.columns

Index(['단지_일련번호', '임대주택유형', '지역', '공급기관명', '주택명', '주택유형', '도로명주소', '총세대수',
       '10대미만(여자)', '10대미만(남자)', '10대(여자)', '10대(남자)', '20대(여자)', '20대(남자)',
       '30대(여자)', '30대(남자)', '40대(여자)', '40대(남자)', '50대(여자)', '50대(남자)',
       '60대(여자)', '60대(남자)', '70대(여자)', '70대(남자)', '80대(여자)', '80대(남자)',
       '90대(여자)', '90대(남자)', '100대(여자)', '100대(남자)'],
      dtype='object')

In [144]:
merge_df_res1 = pd.merge(merge_df1, temp3, on=['지역', '총세대수'], how='left')
merge_df_res1 = merge_df_res1[['단지코드', '지역', '공급유형', '단지명', '총세대수', '주소',  '10대미만(여자)', '10대미만(남자)', '10대(여자)', '10대(남자)', '20대(여자)', '20대(남자)',
       '30대(여자)', '30대(남자)', '40대(여자)', '40대(남자)', '50대(여자)', '50대(남자)',
       '60대(여자)', '60대(남자)', '70대(여자)', '70대(남자)', '80대(여자)', '80대(남자)',
       '90대(여자)', '90대(남자)', '100대(여자)', '100대(남자)']]
display(merge_df_res1)

merge_df_res2 = pd.merge(merge_df2, temp3, on=['지역', '총세대수'], how='left')
merge_df_res2 = merge_df_res2[['단지코드', '지역', '공급유형', '단지명', '총세대수', '주소',  '10대미만(여자)', '10대미만(남자)', '10대(여자)', '10대(남자)', '20대(여자)', '20대(남자)',
       '30대(여자)', '30대(남자)', '40대(여자)', '40대(남자)', '50대(여자)', '50대(남자)',
       '60대(여자)', '60대(남자)', '70대(여자)', '70대(남자)', '80대(여자)', '80대(남자)',
       '90대(여자)', '90대(남자)', '100대(여자)', '100대(남자)']]
display(merge_df_res2)

,단지코드,지역,공급유형,단지명,총세대수,주소,10대미만(여자),10대미만(남자),10대(여자),10대(남자),...,60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자)
0,C2483,경상북도,국민임대,포항장량 1단지,900,"경상북도 포항시 북구 장량중앙로 17(양덕동,장량 휴먼시아아파트)",83.0,111.0,129.0,134.0,...,223.0,127.0,77.0,70.0,40.0,20.0,2.0,3.0,0.0,0.0
1,C2483,경상북도,국민임대,포항장량 1단지,900,"경상북도 포항시 북구 장량중앙로 17(양덕동,장량 휴먼시아아파트)",83.0,111.0,129.0,134.0,...,223.0,127.0,77.0,70.0,40.0,20.0,2.0,3.0,0.0,0.0
2,C2483,경상북도,국민임대,포항장량 1단지,900,"경상북도 포항시 북구 장량중앙로 17(양덕동,장량 휴먼시아아파트)",83.0,111.0,129.0,134.0,...,223.0,127.0,77.0,70.0,40.0,20.0,2.0,3.0,0.0,0.0
3,C2483,경상북도,국민임대,포항장량 1단지,900,"경상북도 포항시 북구 장량중앙로 17(양덕동,장량 휴먼시아아파트)",83.0,111.0,129.0,134.0,...,223.0,127.0,77.0,70.0,40.0,20.0,2.0,3.0,0.0,0.0
4,C2483,경상북도,국민임대,포항장량 1단지,900,"경상북도 포항시 북구 장량중앙로 17(양덕동,장량 휴먼시아아파트)",83.0,111.0,129.0,134.0,...,223.0,127.0,77.0,70.0,40.0,20.0,2.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3830,C2532,강원도,국민임대,"평창하진부(07,매입) 1단지",239,강원도 평창군 진부면 경강로 3587(평창하진부주공아파트),18.0,19.0,40.0,52.0,...,52.0,39.0,39.0,20.0,21.0,7.0,6.0,4.0,0.0,0.0
3831,C2532,강원도,국민임대,평창하진부,239,강원도 평창군 진부면 경강로 3587 (평창하진부주공아파트),18.0,19.0,40.0,52.0,...,52.0,39.0,39.0,20.0,21.0,7.0,6.0,4.0,0.0,0.0
3832,C2532,강원도,국민임대,"평창하진부(07,매입) 1단지",239,강원도 평창군 진부면 경강로 3587(평창하진부주공아파트),18.0,19.0,40.0,52.0,...,52.0,39.0,39.0,20.0,21.0,7.0,6.0,4.0,0.0,0.0
3833,C2532,강원도,국민임대,평창하진부,239,강원도 평창군 진부면 경강로 3587 (평창하진부주공아파트),18.0,19.0,40.0,52.0,...,52.0,39.0,39.0,20.0,21.0,7.0,6.0,4.0,0.0,0.0
3834,C2532,강원도,국민임대,"평창하진부(07,매입) 1단지",239,강원도 평창군 진부면 경강로 3587(평창하진부주공아파트),18.0,19.0,40.0,52.0,...,52.0,39.0,39.0,20.0,21.0,7.0,6.0,4.0,0.0,0.0

,단지코드,지역,공급유형,단지명,총세대수,주소,10대미만(여자),10대미만(남자),10대(여자),10대(남자),...,60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자)
0,C1072,경기도,국민임대,"광명역세권(03,택) 2단지",754,"경기도 광명시 서원로 25(소하동,광명역세권휴먼시아)",50.0,51.0,112.0,122.0,...,214.0,171.0,87.0,77.0,40.0,26.0,5.0,5.0,1.0,0.0
1,C1072,경기도,국민임대,"광명역세권(03,택) 2단지",754,"경기도 광명시 서원로 25(소하동,광명역세권휴먼시아)",50.0,51.0,112.0,122.0,...,214.0,171.0,87.0,77.0,40.0,26.0,5.0,5.0,1.0,0.0
2,C1072,경기도,국민임대,"광명역세권(03,택) 2단지",754,"경기도 광명시 서원로 25(소하동,광명역세권휴먼시아)",50.0,51.0,112.0,122.0,...,214.0,171.0,87.0,77.0,40.0,26.0,5.0,5.0,1.0,0.0
3,C1072,경기도,국민임대,"광명역세권(03,택) 2단지",754,"경기도 광명시 서원로 25(소하동,광명역세권휴먼시아)",50.0,51.0,112.0,122.0,...,214.0,171.0,87.0,77.0,40.0,26.0,5.0,5.0,1.0,0.0
4,C1072,경기도,국민임대,"광명역세권(03,택) 2단지",754,"경기도 광명시 서원로 25(소하동,광명역세권휴먼시아)",50.0,51.0,112.0,122.0,...,214.0,171.0,87.0,77.0,40.0,26.0,5.0,5.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1388,C1267,경상남도,행복주택,NaN,675,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1389,C2189,전라북도,국민임대,NaN,382,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1390,C2189,전라북도,국민임대,NaN,382,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1391,C2189,전라북도,국민임대,NaN,382,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1392,C2189,전라북도,국민임대,NaN,382,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [145]:
merge_df_res1.drop_duplicates(['단지코드'], inplace=True)
merge_df_res2.drop_duplicates(['단지코드'], inplace=True)

In [146]:
merge_df_res1.reset_index(drop=True, inplace=True)
merge_df_res2.reset_index(drop=True, inplace=True)
merge_df_res1

,단지코드,지역,공급유형,단지명,총세대수,주소,10대미만(여자),10대미만(남자),10대(여자),10대(남자),...,60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자)
0,C2483,경상북도,국민임대,포항장량 1단지,900,"경상북도 포항시 북구 장량중앙로 17(양덕동,장량 휴먼시아아파트)",83.0,111.0,129.0,134.0,...,223.0,127.0,77.0,70.0,40.0,20.0,2.0,3.0,0.0,0.0
1,C2515,경상남도,국민임대,통영미수2단지,545,경상남도 통영시 미우지해안로 107 (미수휴먼시아),26.0,30.0,93.0,83.0,...,93.0,119.0,57.0,42.0,38.0,12.0,7.0,2.0,0.0,0.0
2,C1407,대전광역시,국민임대,"대전도안서남부4bl(06,기) 4단지",1216,"대전광역시 유성구 상대로 40(상대동,도안휴먼시아4단지)",93.0,115.0,141.0,167.0,...,240.0,157.0,89.0,70.0,50.0,31.0,11.0,1.0,1.0,0.0
3,C1945,경기도,국민임대,남양주호평6단지,755,경기도 남양주시 늘을3로 8 (휴먼시아),48.0,48.0,151.0,172.0,...,135.0,94.0,101.0,77.0,66.0,29.0,9.0,2.0,2.0,0.0
4,C1470,전라북도,국민임대,"익산장신(03,주2) 1단지",696,전라북도 익산시 오산면 선화로4길 66 (장신휴먼시아1단지),77.0,75.0,107.0,128.0,...,132.0,114.0,50.0,56.0,28.0,10.0,10.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,C2586,제주특별자치도,행복주택,서귀포서홍,90,제주특별자치도 서귀포시 장수로 115(서홍동) 서귀포서홍행복주택,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
419,C2035,강원도,국민임대,춘천우두 국민임대 3단지,492,강원도 춘천시 우두1길 40(우두동) 춘천우두 LH천년나무3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420,C2020,부산광역시,행복주택,부산강서 행복주택,40,부산광역시 강서구 공항로1309번길 83-22(대저1동),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421,C2437,충청북도,영구임대,제천청전(공공실버),90,충청북도 제천시 용두천로40길 28(청전동) 제천청전 공공실버주택,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
422,C2532,강원도,국민임대,평창하진부,239,강원도 평창군 진부면 경강로 3587 (평창하진부주공아파트),18.0,19.0,40.0,52.0,...,52.0,39.0,39.0,20.0,21.0,7.0,6.0,4.0,0.0,0.0

In [147]:
display(merge_df_res1.loc[merge_df_res1.isnull()["10대미만(여자)"]])
display(merge_df_res2.loc[merge_df_res2.isnull()["10대미만(여자)"]])

,단지코드,지역,공급유형,단지명,총세대수,주소,10대미만(여자),10대미만(남자),10대(여자),10대(남자),...,60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자)
6,C1244,경기도,국민임대,성남판교 백현 3단지 (A25-1BL),1722,경기도 성남시 분당구 동판교로 92 (백현마을),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,C1925,강원도,영구임대,NaN,601,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,C1874,충청남도,영구임대,NaN,619,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,C1424,대전광역시,공공임대(50년),대전구봉8-2,625,"대전광역시 서구 관저로 84(관저동,구봉마을8단지)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,C2621,대전광역시,영구임대,NaN,1396,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,C2446,경기도,행복주택,의왕고천 A-1 행복주택리츠,2200,경기도 의왕시 행복마을3로 18(고천동),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
418,C2586,제주특별자치도,행복주택,서귀포서홍,90,제주특별자치도 서귀포시 장수로 115(서홍동) 서귀포서홍행복주택,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
419,C2035,강원도,국민임대,춘천우두 국민임대 3단지,492,강원도 춘천시 우두1길 40(우두동) 춘천우두 LH천년나무3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420,C2020,부산광역시,행복주택,부산강서 행복주택,40,부산광역시 강서구 공항로1309번길 83-22(대저1동),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421,C2437,충청북도,영구임대,제천청전(공공실버),90,충청북도 제천시 용두천로40길 28(청전동) 제천청전 공공실버주택,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,단지코드,지역,공급유형,단지명,총세대수,주소,10대미만(여자),10대미만(남자),10대(여자),10대(남자),...,60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자)
11,C1006,대전광역시,영구임대,NaN,1505,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,C2676,부산광역시,영구임대,NaN,2572,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,C2177,충청남도,영구임대,NaN,1245,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,C2033,울산광역시,영구임대,NaN,1400,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,C1812,울산광역시,영구임대,NaN,1021,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,C2253,강원도,영구임대,NaN,1161,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,C1729,강원도,영구임대,NaN,627,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,C1392,경상북도,국민임대,안동송현휴먼시아,794,"경상북도 안동시 송현길 16(송현동,송현휴먼시아3단지)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,C2430,대전광역시,공공임대(10년),NaN,687,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,C1712,경상북도,국민임대,"상주무양(07,국민) 7단지",737,"경상북도 상주시 동수4길 55(무양동,상주무양LH7단지)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,C2131,충청남도,공공임대(10년),NaN,538,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,C1147,경상남도,국민임대,NaN,1124,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,C1570,충청북도,국민임대,충북혁신도시 1단지,1278,충청북도 음성군 맹동면 이수로 31 충북혁신 천년나무 1단지,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,C1849,강원도,국민임대,NaN,1054,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,C1030,경기도,행복주택,NaN,75,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,C1749,경기도,행복주택,NaN,848,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,C1349,광주광역시,행복주택,NaN,465,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,C2043,경상남도,행복주택,NaN,469,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,C1229,세종특별자치시,행복주택,NaN,453,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,C2363,부산광역시,행복주택,NaN,864,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,C1414,경기도,행복주택,NaN,873,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,C2174,울산광역시,행복주택,NaN,954,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,C2404,전라남도,행복주택,NaN,214,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,C1683,경기도,행복주택,NaN,328,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,C1038,충청북도,행복주택,NaN,554,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,C2456,제주특별자치도,국민임대,NaN,349,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,C1266,충청북도,국민임대,NaN,596,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,C2152,강원도,영구임대,화천신읍(공공실버) 영구임대,120,강원도 화천군 화천읍 산천어길 196 화천신읍 공공실버주택,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,C1267,경상남도,국민임대,NaN,675,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,C2189,전라북도,국민임대,NaN,382,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [152]:
given_gender

,지역,10대미만(여자),10대미만(남자),10대(여자),10대(남자),20대(여자),20대(남자),30대(여자),30대(남자),40대(여자),...,60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자)
0,경상북도,0.030158,0.033195,0.056346,0.061360,0.060096,0.067859,0.053433,0.049572,0.083660,...,0.082684,0.063889,0.047717,0.030172,0.029361,0.011211,0.005578,0.001553,0.000234,0.000014
1,경상남도,0.027400,0.026902,0.053257,0.055568,0.064920,0.070618,0.056414,0.057550,0.077092,...,0.087201,0.069562,0.048357,0.033277,0.027361,0.011295,0.004910,0.001086,0.000179,0.000010
2,대전광역시,0.028197,0.029092,0.040490,0.042793,0.060834,0.064247,0.068654,0.066848,0.074667,...,0.088468,0.070261,0.051010,0.037143,0.032455,0.013751,0.006494,0.001740,0.000298,0.000066
3,경기도,0.038030,0.039507,0.052546,0.053990,0.058484,0.059894,0.072331,0.068704,0.083208,...,0.074237,0.058419,0.042422,0.032725,0.025136,0.012354,0.005390,0.001707,0.000290,0.000067
4,전라북도,0.028089,0.029065,0.059685,0.060080,0.066262,0.070322,0.052027,0.046596,0.077005,...,0.076636,0.068042,0.051025,0.035748,0.035049,0.012641,0.007223,0.001898,0.000158,0.000013
5,강원도,0.028888,0.030682,0.051287,0.052712,0.060374,0.063157,0.059821,0.054321,0.076201,...,0.088423,0.070014,0.047732,0.032760,0.033515,0.013027,0.007628,0.001677,0.000319,0.000017
6,광주광역시,0.031994,0.034566,0.049851,0.050254,0.065084,0.066875,0.066888,0.064416,0.080028,...,0.075930,0.059586,0.048552,0.031754,0.029749,0.010341,0.006343,0.000895,0.000353,0.000013
7,충청남도,0.031369,0.031711,0.059077,0.062422,0.067975,0.072622,0.065095,0.067303,0.078860,...,0.070278,0.057692,0.042296,0.028682,0.024514,0.010900,0.005429,0.001549,0.000219,0.000123
8,부산광역시,0.022003,0.022947,0.032681,0.035512,0.053796,0.057233,0.047049,0.048866,0.061952,...,0.109297,0.085294,0.078743,0.053388,0.047908,0.020228,0.008043,0.002240,0.000268,0.000028
9,제주특별자치도,0.034690,0.036695,0.060094,0.063080,0.069135,0.069667,0.050808,0.048026,0.080548,...,0.074248,0.055717,0.047944,0.033054,0.026836,0.011332,0.006832,0.000982,0.000368,0.000082
10,울산광역시,0.023991,0.025997,0.053874,0.056967,0.064240,0.074689,0.052830,0.052412,0.078450,...,0.096422,0.069088,0.052913,0.039413,0.026540,0.011912,0.004221,0.001087,0.000084,0.000000
11,충청북도,0.034678,0.035339,0.059808,0.061570,0.060824,0.064937,0.061069,0.056625,0.082318,...,0.075390,0.062427,0.041814,0.027566,0.027762,0.011212,0.005386,0.001310,0.000257,0.000037
12,전라남도,0.031930,0.034647,0.059154,0.063379,0.065517,0.070339,0.057977,0.053471,0.078358,...,0.071465,0.062352,0.042535,0.030704,0.027340,0.009312,0.005965,0.001458,0.000149,0.000464
13,대구광역시,0.023765,0.025626,0.034098,0.037897,0.062559,0.068251,0.061825,0.071207,0.070090,...,0.094511,0.073133,0.055914,0.036572,0.031887,0.012556,0.005364,0.001259,0.000219,0.000000
14,서울특별시,0.015323,0.015627,0.025210,0.026121,0.052712,0.056782,0.047655,0.051877,0.054216,...,0.119639,0.078939,0.097543,0.061050,0.047853,0.023463,0.011344,0.003326,0.000532,0.000152
15,세종특별자치시,0.037159,0.036601,0.053172,0.050047,0.079284,0.064833,0.106121,0.104447,0.075155,...,0.065279,0.051163,0.026056,0.026223,0.013893,0.007086,0.003459,0.001004,0.000279,0.000112

In [149]:


for i in merge_df_res1.index:
    if merge_df_res1.iloc[i].isnull()["10대미만(여자)"] == True:
        for local in merge_df_res1.iloc[i,1]:
           # merge_df_res1.iloc[i,1]  => 지역명
    else:
         print('없음')

IndentationError: expected an indented block (<ipython-input-149-e82abd4b3d12>, line 5)

In [150]:
# for i in merge_df_res1.index:
#     if pd.notnull(merge_df_res1.ix[i,'단지명']) == True:
#         merge_df_res1[]
#         matching = [s for s in some_list if "abc" in s]

IndentationError: unexpected indent (<ipython-input-150-67226a7b9757>, line 4)

In [26]:
# merge_df_res1 = merge_df_res1[['단지코드', '단지명', '주소', '10대미만(여자)', '10대미만(남자)', '10대(여자)', '10대(남자)', '20대(여자)', '20대(남자)',
#        '30대(여자)', '30대(남자)', '40대(여자)', '40대(남자)', '50대(여자)', '50대(남자)',
#        '60대(여자)', '60대(남자)', '70대(여자)', '70대(남자)', '80대(여자)', '80대(남자)',
#        '90대(여자)', '90대(남자)', '100대(여자)', '100대(남자)']]

# merge_df_res2 = merge_df_res2[['단지코드', '단지명', '주소', '10대미만(여자)', '10대미만(남자)', '10대(여자)', '10대(남자)', '20대(여자)', '20대(남자)',
#        '30대(여자)', '30대(남자)', '40대(여자)', '40대(남자)', '50대(여자)', '50대(남자)',
#        '60대(여자)', '60대(남자)', '70대(여자)', '70대(남자)', '80대(여자)', '80대(남자)',
#        '90대(여자)', '90대(남자)', '100대(여자)', '100대(남자)']]

# display(merge_df_res1)
# display(merge_df_res2)

In [27]:
merge_df_res1 = merge_df_res1[['단지코드', '10대미만(여자)', '10대미만(남자)', '10대(여자)', '10대(남자)', '20대(여자)', '20대(남자)',
       '30대(여자)', '30대(남자)', '40대(여자)', '40대(남자)', '50대(여자)', '50대(남자)',
       '60대(여자)', '60대(남자)', '70대(여자)', '70대(남자)', '80대(여자)', '80대(남자)',
       '90대(여자)', '90대(남자)', '100대(여자)', '100대(남자)']]

merge_df_res2 = merge_df_res2[['단지코드', '10대미만(여자)', '10대미만(남자)', '10대(여자)', '10대(남자)', '20대(여자)', '20대(남자)',
       '30대(여자)', '30대(남자)', '40대(여자)', '40대(남자)', '50대(여자)', '50대(남자)',
       '60대(여자)', '60대(남자)', '70대(여자)', '70대(남자)', '80대(여자)', '80대(남자)',
       '90대(여자)', '90대(남자)', '100대(여자)', '100대(남자)']]

display(merge_df_res1)
display(merge_df_res2)

,단지코드,10대미만(여자),10대미만(남자),10대(여자),10대(남자),20대(여자),20대(남자),30대(여자),30대(남자),40대(여자),...,60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자)
0,C2483,83.0,111.0,129.0,134.0,112.0,116.0,124.0,104.0,150.0,...,223.0,127.0,77.0,70.0,40.0,20.0,2.0,3.0,0.0,0.0
8,C2515,26.0,30.0,93.0,83.0,67.0,82.0,49.0,46.0,89.0,...,93.0,119.0,57.0,42.0,38.0,12.0,7.0,2.0,0.0,0.0
15,C1407,93.0,115.0,141.0,167.0,176.0,162.0,256.0,217.0,270.0,...,240.0,157.0,89.0,70.0,50.0,31.0,11.0,1.0,1.0,0.0
26,C1945,48.0,48.0,151.0,172.0,152.0,144.0,88.0,77.0,199.0,...,135.0,94.0,101.0,77.0,66.0,29.0,9.0,2.0,2.0,0.0
32,C1470,77.0,75.0,107.0,128.0,95.0,109.0,121.0,101.0,151.0,...,132.0,114.0,50.0,56.0,28.0,10.0,10.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3809,C2586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3814,C2035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3819,C2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3822,C2437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3823,C2532,18.0,19.0,40.0,52.0,51.0,64.0,27.0,27.0,62.0,...,52.0,39.0,39.0,20.0,21.0,7.0,6.0,4.0,0.0,0.0

,단지코드,10대미만(여자),10대미만(남자),10대(여자),10대(남자),20대(여자),20대(남자),30대(여자),30대(남자),40대(여자),...,60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자)
0,C1072,50.0,51.0,112.0,122.0,125.0,144.0,96.0,119.0,172.0,...,214.0,171.0,87.0,77.0,40.0,26.0,5.0,5.0,1.0,0.0
8,C1128,85.0,79.0,254.0,302.0,224.0,231.0,177.0,146.0,324.0,...,329.0,235.0,183.0,136.0,84.0,46.0,24.0,5.0,0.0,0.0
17,C1456,26.0,19.0,67.0,68.0,80.0,95.0,59.0,67.0,96.0,...,198.0,104.0,88.0,70.0,40.0,18.0,8.0,2.0,0.0,0.0
26,C1840,45.0,43.0,80.0,73.0,95.0,78.0,85.0,85.0,96.0,...,101.0,88.0,58.0,36.0,23.0,12.0,3.0,2.0,0.0,0.0
30,C1332,107.0,141.0,260.0,311.0,251.0,283.0,206.0,157.0,313.0,...,306.0,228.0,105.0,94.0,84.0,38.0,21.0,5.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1367,C2456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1371,C1266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1376,C2152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1378,C1267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1389,C2189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
merge_df_res1.to_csv('data/정제된 데이터/트레인_단지_세대원_재병합이전.csv', encoding='cp949')
merge_df_res2.to_csv('data/정제된 데이터/테스트_단지_세대원_재병합이전.csv', encoding='cp949')

In [29]:
# result_train = pd.merge(train, merge_df_res1, on=['단지코드'])
# result_test = pd.merge(test, merge_df_res2, on=['단지코드'])
# display(result_train)
# display(result_test)

In [30]:
# result_train.to_csv('data/합친데이터_트레인_최종20210625.csv')
# result_test.to_csv('data/합친데이터_테스트_최종20210625.csv')